body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

.nav {
  width: 50vw;
  position: relative;
  left: 25%;
  margin-top: -4%;
  background: rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(22px);
  -webkit-backdrop-filter: blur(11.5px);
  border-radius: 30px;
}

.nav ul {
  color: #6B6857;
  font-size: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 12vh;
  padding: 0;
}

.nav ul li {
  background-color: #1B4D60;
  color: #F5F3E7;
  padding: 2%;
  border-radius: 25px;
  margin: -1%;
  list-style-type: none;
  font-size: 1.3rem;
}

.bio {
  border-radius: 20px;
  margin: 5% 5% 0 5%;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #578372;
  -webkit-box-shadow: 0 8px 32px 0 rgba(27, 76, 96, 0.57);
          box-shadow: 0 8px 32px 0 rgba(27, 76, 96, 0.57);
}

.bio img {
  height: 50vh;
  margin: 6%;
  border-radius: 250px;
  -webkit-box-shadow: 0 8px 32px 0 rgba(27, 76, 96, 0.57);
          box-shadow: 0 8px 32px 0 rgba(27, 76, 96, 0.57);
}

.bio h1 {
  color: #F5F3E7;
  font-size: 2.5rem;
  margin-top: -1%;
}

.bio .bio_text,
.bio .fact_text {
  width: 40vw;
  margin: 5%;
  text-align: start;
}

.fact_button,
.project_button {
  background: rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(22px);
  -webkit-backdrop-filter: blur(11.5px);
  border-radius: 30px;
  padding: 3%;
  font-size: 1rem;
  color: #F5F3E7;
  border: none;
  margin-top: 2vh;
}

.fact_heading {
  color: #F5F3E7;
  font-size: 1.3rem;
}

.facts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #1B4D60;
  border-radius: 25px;
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  padding: 3%;
  color: #F5F3E7;
  background-color: #1B4D60;
  margin-top: 4vh;
  text-align: center;
}

.project-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(22px);
  -webkit-backdrop-filter: blur(11.5px);
  border-radius: 30px;
  margin: 5%;
  height: 60vh;
  background-color: #1B4D60;
}

.project-card img {
  height: 40vh;
  border-radius: 15%;
  margin: 7% 10% 7% 10%;
}

.project-card .project-card__text {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50vw;
  margin-top: 10%;
}

.project-card button {
  background: rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(22px);
  -webkit-backdrop-filter: blur(11.5px);
  border-radius: 30px;
  padding: 3%;
  font-size: 1rem;
  color: #F5F3E7;
}

.education {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 30px;
  background-color: #578372;
  margin: 5vw;
}

.education .edu_card {
  background-color: #F5F3E7;
  margin: 3vw;
  border-radius: 30px;
  padding: 3%;
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}
/*# sourceMappingURL=index.css.map */